<p>
  <b>Name:</b>
  <%=h @site.name %>
</p>

<p>
  <b>Geometry:</b>
  <%=h @site.geom %>
</p>

<p>
  <b>Location:</b>
  (<%=h @site.lat %>, <%=h @site.lon %>)
</p>

<p>
  <b>Site Identifier:</b>
  <%=h @site.site_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @site.description %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>